<!DOCTYPE html>

<html
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout.html}">

<head>
    <title>Home Page</title>
    <!-- Page specific CSS -->
<!--    <link rel="stylesheet" th:href="@{/css/home.css}">-->
</head>
<body>
<div layout:fragment="content">

    <div class="glass-container">
        <h1>Welcome to Home Page</h1>
        <p>This is the home page content.</p>
    </div>

</div>

<!-- Page specific JavaScript -->
<!--<script th:src="@{/js/home.js}"></script>-->
</body>
</html>